/***************not in use**************************/

/*
.popUp {
    width: 550px;
    height: 350px;
    background-color: #1C1241;
    position: fixed;
    top: 200px;
    left: 50px;
    z-index: 2;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 50px;
}
@media (min-width: 600px) {
    .homepage .bars {
        display: none;
    }
    .homepage .barBox {
        display: none;
    }
}
.homepage .bars {
    display: inline-block;
    vertical-align: top;
    color: white;
    font-size: 2rem;
    width: 50%;
}
.homepage .barBox {
    background-color: hsla(360, 100%, 100%, .3);
    width: 3rem;
    height: 3rem;
}*/
@media (min-width: 400px) and (max-width: 599px) {
    /*    .homepage {
        min-height: 0;
    }*/
    nav > ul, .homepage .logo h3, .bigLine, .smallLine, .numbers h4 {
        display: none;
    }
    .header, .main {
        padding: 15px 15px 0px 15px;
    }
    .homepage .logo {
        width: 100%;
        /*        text-align: right;*/
    }
    .right {
        /*        width: 100%;
        text-align: center;
        padding: 40px;*/
    }
    .lineOne {
        font-size: 6rem;
    }
    .lineTwo {
        font-size: 4rem;
    }
    .right p {
        font-size: .75rem;
    }
    .numbers {
        width: 100%;
        padding: 0;
    }
    .page2 {
        padding: 20px 10px;
    }
    .icons {
        -webkit-transform: scale(.5);
    }
    .numbers .circle {
        width: 30%;
        display: inline-block;
        vertical-align: middle;
    }
    .numbers h5 {
        width: 70%;
        display: inline-block;
        vertical-align: middle;
    }
    .page3 .intro, .page4 .intro {
        padding: 40px 20px 0px 20px;
    }
    .intro h6 {
        font-size: 2rem;
    }
    .page3, .page4 {
        padding-top: 20px;
        padding-bottom: 0px;
    }
    footer .logo, footer h3, footer .contact p, footer .network {
        width: 100%;
        text-align: center;
        padding: 0;
    }
    footer .contact {
        padding: 20px 0px;
    }
    footer {
        padding: 40px 20px;
    }
}