*, *:before, *:after {
    box-sizing: border-box;
    transition: background-color 1.5s ease;
}
/**--------- GRIDS ------------**/

.grid {
    font-size: 0px;
    text-align: justify;
}
.grid:after {
    content: '';
    display: inline-block;
    width: 100%;
}
.cell {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    font-size: 16px;
    font-size: 1rem;
}
/**--------- GRIDS ------------**/

body {
    font-family: 'Cabin', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url(http://cl.ly/image/3P3y3m462o3f/vibrant%20colors.jpg);
    background-repeat: repeat;
    background-size: 100% auto;
    min-width: 400px;
}
.homepage {
    color: white;
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: 4px;
    min-height: 100%;
    /* for older browsers (ie7 and less) */
    min-height: 100vh;
    overflow: auto;
}
.header {
    padding: 60px 60px 0px 60px;
}
nav li {
    display: inline-block;
    padding: 0px 10px;
    font-size: 15px;
    font-weight: 200;
    letter-spacing: 4px;
    margin-bottom: 0.825rem;
}
nav ul {
    margin: 0 auto;
    text-align: right;
}
nav a:link, nav a:visited, nav a:hover, nav a:active {
    color: white;
    text-decoration: none;
}
/*nav a {
    -webkit-transition: all 1.5s ease;
}*/

footer .logo {
    text-align: left;
}
.leaf, .logo, nav, .name {
    display: inline-block;
    vertical-align: bottom;
    /*    min-height: 175px;*/
}
.logo {
    text-align: left;
    /*    width: 30%;*/
}
/*nav {
    width: 70%;
}*/

.logo h2 {
    color: white;
    font-size: 2rem;
}
.more {
    background-color: #1C1241;
    padding: 80px 120px;
}
.AT {
    background-image: url("../images/ATlogo.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 112px;
    height: 267px;
}
.leaf {
    width: 30%;
}
.more p {
    width: 70%;
    text-align: left;
    color: white;
    text-align: center;
    font-size: 1rem;
    font-family: 'Antic Slab', serif;
}
.more p, .AT {
    vertical-align: middle;
}
h3 {
    color: white;
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 4px;
}
.main {
    padding: 80px 80px;
}
.right p {
    color: white;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: 4px;
    line-height: 1.5;
    max-width: 500px;
}
.left {
    display: inline-block;
    vertical-align: middle;
    width: 30%;
}
.right {
    display: inline-block;
    vertical-align: middle;
    width: 70%;
    text-align: center;
}
.bigLine {
    width: 260px;
    height: 30px;
    background-color: white;
    transition: all 1.5s ease;
}
.bigLine:hover {
    transform: translateX(100%);
}
h1 {
    color: white;
}
.lineOne {
    font-size: 7rem;
    line-height: .8;
    font-weight: 900;
    letter-spacing: 12px;
    margin-bottom: 3rem;
    margin-top: 3rem;
    text-transform: uppercase;
}
/*.lineTwo {
    font-size: 6rem;
    font-weight: 900;
    letter-spacing: 10px;
    margin-bottom: 20px;
}*/

/*////////////////////PAGE2//////////////////////////////////*/

.page2 {
    background-color: #E3E3E3;
    font-size: 1rem;
    text-align: center;
    padding: 100px 100px;
    overflow: auto;
    min-height: 100vh;
    margin: 0;
}
.numbers {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 30%;
    /*    padding: 10px;*/
}
h4 {
    color: white;
    font-size: 3rem;
}
.numbers .numberHeading {
    margin: 0;
    padding: 0;
}
.numbers .icons {
    width: 175px;
    height: 175px;
    background-color: white;
    border-radius: 50%;
    margin: 0 auto;
    color: #E0125E;
    text-align: center;
}
.numbers .icons i {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 4rem;
}
.numbers .circle {
    width: 100%;
    margin: 0;
    padding: 0;
}
.numbers h5 {
    color: #FD9B32;
    font-weight: bolder;
    letter-spacing: 4px;
    font-size: 1.5rem;
    padding: 1rem 0;
    margin: 0;
    width: 100%;
    text-align: center;
}
.smallLine {
    background-color: white;
    width: 80px;
    height: 5px;
    margin: 0 auto;
    margin-bottom: 1rem;
}
.numbers p, .numbers a, .numbers li {
    color: #E0125E;
    font-family: 'Cabin', serif;
    font-size: 1rem;
    padding-top: 1rem;
    padding: 0px;
    margin: 0px;
}
.numbers ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
/*/////////////////BAR///////////////////////*/

.bar {
    background-color: #1C1241;
    /*    min-height: 150px;*/
    margin: 0;
    position: relative;
}
.bar h4 {
    color: white;
    text-align: center;
    padding: 40px;
    font-size: 2rem;
    font-family: 'Cabin', serif;
}
.my-icon {
    position: absolute;
    width: 54px;
    margin: 0 auto;
    left: 50%;
    bottom: 0px;
    z-index: 2;
    font-size: 1rem;
    transform: translateX(-50%);
}
.my-icon > i {
    position: absolute;
    display: block;
    width: 1.5em;
    height: 1.5em;
    line-height: 0;
    border: 1.5em solid transparent;
    border-top: 1.5em solid #1C1241;
    margin: 0 auto;
    padding: 0;
    background-color: #E3E3E3
}
/*/////////////////PAGE3///////////////////////*/

.page3 {
    overflow: auto;
    position: relative;
    background-color: #E3E3E3;
    width: 100%;
    display: block;
}
.intro {
    /*    position: relative;*/
    text-align: left;
}
.intro, .desktopContainer {
    width: 45%;
}
.intro h6 {
    color: #1C1241;
    font-size: 2rem;
}
.intro h7 {
    color: #BECF2C;
    font-size: 1rem;
    /*    font-weight: bolder;*/
}
.intro p {
    color: #1C1241;
    font-family: 'Antic Slab', serif;
    font-size: 1rem;
}
.projects {
    padding: 50px;
}
.desktop {
    text-align: center;
    border-radius: 25px;
    box-shadow: 4px 4px 14px #000;
    background-color: darkgrey;
    padding: 20px;
}
.screenshot {
    width: 100%;
}
.imgContainer {
    height: 300px;
    overflow: auto;
}
.menuScreens {
    background-image: url(http://cl.ly/image/201v2C1I203J/computersNmenu3.png);
    background-size: 100% auto;
    background-position: center;
    height: 458px;
    background-repeat: no-repeat;
}
.houseScreens {
    background-image: url(http://cl.ly/image/3V1p0o0g2h0G/computersNhouse.png);
    background-size: 100% auto;
    background-position: center;
    height: 358px;
    background-repeat: no-repeat;
}
.codeLinks {
    text-align: center;
}
.codeLinks a:link, .codeLinks a:visited, .codeLinks a:hover, .codeLinks a:active {
    text-decoration: none;
    border: 2px solid #3544A4;
    text-align: center;
    font-family: 'Cabin', sans-serif;
    font-size: 1rem;
    padding: 0 1rem;
    margin: .5rem;
    text-transform: uppercase;
}
.codeLinks a:link, .codeLinks a:visited {
    color: #3544A4;
    background-color: white;
}
.codeLinks a:hover, .codeLinks a:active {
    color: white;
    background-color: #3544A4;
}
/*iframe {
    margin: 0;
    padding: 0;
    border: 3px solid black;
    width: 1200;
    height: 800px;
    -webkit-transform: scale(0.4);
}*/

/*///////////////////PAGE4//////////////////////////////*/

/*.page4 {
    overflow: auto;
    position: relative;
    width: 100%;
    display: block;
    background-color: #E3E3E3;
}
.page4 .intro {
    padding-right: 40%;
}*/

/******************FOOTER***********************/

footer {
    color: white;
    display: block;
    width: 100%;
    font-size: 1rem;
    font-family: 'Cabin', sans-serif;
    text-transform: uppercase;
    padding: 80px;
}
.contactInfo p {
    text-align: right;
    font-size: .6rem;
    font-weight: 900;
    letter-spacing: 4px;
    margin: 0;
    padding-bottom: 15px;
}
/*.contactinfo {
    padding-left: 100px;
}*/

.network {
    font-size: 3rem;
    margin: 0;
    padding: 0;
    line-height: 0;
}
.me, .contactinfo {
    /*    display: inline-block;
    vertical-align: top;*/
    width: 50%;
}
footer a:link, footer a:visited, footer a:hover, footer a:active {
    color: white;
    text-decoration: none;
}
/********************resume.html**************************/

.resumeHeader {
    font-family: 'Cabin', sans-serif;
    color: white;
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: 4px;
    /*    overflow: auto;*/
    /*    background-image: url("../images/coloredlights.jpg");*/
    /*    background-size: 100% auto;*/
    padding: 60px 60px 60px 60px;
    background-color: #1C1241;
}
.resumeHeader .logo {
    display: inline-block;
    vertical-align: bottom;
    /*    width: 30%;*/
}
.resumeMain {
    background-color: #E3E3E3;
    /*    text-align: center;*/
    padding: 100px 100px;
    overflow: auto;
    min-height: 100vh;
}
.resumeFooter {
    background-color: #1C1241;
    /*    font-family: 'Cabin', sans-serif;
    color: white;
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: 4px;*/
}
.section {
    width: 30%;
    font-size: 2rem;
    font-family: 'Cabin', sans-serif;
    color: #3544A4;
    background-color: #BECF2C;
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}
.content p {
    font-size: 1rem;
    /*    color: #E0125E;*/
    font-family: 'Antic Slab', serif;
    text-indent: 0;
    color: #1C1241;
}
.content {
    width: 60%;
}
.content span {
    text-transform: uppercase;
    background-color: #BECF2C;
    color: #3544A4;
    padding: .5rem;
    font-weight: bold;
    margin-right: 1rem;
}
.resumeFooter a:hover, .resumeFooter a:active, .resumeHeader nav a:hover, .resumeHeader nav a:active {
    color: #FD9B32;
    transition: all .5s ease;
}
.position {
    margin-bottom: 1rem;
}
.position p:nth-child(1) {
    margin-bottom: 2rem;
}
/****************MEDIA QUERIES***********************/

@media (min-width: 940px) and (max-width: 1140px) {
    nav li {
        font-size: 10px;
        padding: 0px 5px;
    }
    .logo h3 {
        font-size: 13px;
    }
    .logo h2 {
        font-size: 1.5rem;
    }
    .imgContainer {
        height: 200px;
        overflow: auto;
    }
    .section {
        font-size: 1.5rem;
        padding: .5rem;
    }
    .lineOne {
        font-size: 5rem;
    }
}
/**************************************************/

@media (min-width: 400px) and (max-width: 939px) {
    nav {
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
    }
    nav ul {
        text-align: center;
        margin: 0;
        padding: 0;
    }
    nav li {
        font-size: 10px;
        padding: 0px 5px;
    }
    .logo h3 {
        font-size: 13px;
    }
    .logo h2 {
        font-size: 1.5rem;
    }
    .imgContainer {
        height: 200px;
        overflow: auto;
    }
    .left, .smallLine, .numbers h4 {
        display: none;
    }
    .header, .main, .homepage .logo, .resumeHeader, .resumeHeader .logo {
        text-align: center;
    }
    .numbers {
        width: 100%;
        padding: 0;
    }
    .icons {
        transform: scale(.8);
    }
    .numbers .circle, .numbers h5 {
        width: 50%;
        vertical-align: middle;
    }
    .numberHeading {
        text-align: center;
    }
    .desktopContainer, .intro {
        width: 80%;
    }
    .projects {
        padding: 50px;
    }
    .desktopContainer {
        /*        padding: 50px;*/
    }
    .me, .contactInfo {
        width: 100%;
        text-align: center;
    }
    footer .logo, footer .contactInfo p {
        text-align: center;
    }
    .section {
        font-size: 1.5rem;
        padding: .5rem;
        width: 100%;
    }
    .content {
        width: 100%;
    }
    .lineOne {
        font-size: 3rem;
    }
    .main {
        padding: 10px 10px;
    }
}
@media (min-width: 400px) and (max-width: 599px) {
    .lineOne {
        font-size: 6rem;
    }
    .lineTwo {
        font-size: 4rem;
    }
    .right p {
        font-size: .75rem;
    }
    .icons {
        transform: scale(.5);
    }
    nav li {
        font-size: 10px;
        padding: 0px 0px;
    }
    li .home {
        display: none;
    }
    .main {
        padding: 10px 7px;
    }
    .page2 {
        padding: 10px 10px;
        padding-bottom: 50px;
    }
    .projects {
        padding: 20px;
    }
    .bar p {
        padding: 20px;
        font-size: 1.5rem;
    }
    .my-icon {
        display: none;
    }
    .numbers h5 {
        font-size: 1.4rem;
    }
    .lineOne {
        font-size: 2rem;
    }
}
